/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */
h1 {
  color: brown;
  font-size: 250%;
  text-align: center;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
  cursor: auto;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* HeroesListComponent's private CSS styles */
.heroes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
}

.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 2.1em;
  width: 10em;
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color: black;
  color: white;
  left: 2em;
}

.heroes button.selected:hover {
  background-color: black;
  color: white;
}

.heroes button.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;
}

/* everywhere else */
* {
  font-family: "JetBrains Mono", serif;
}
